<p>&nbsp;</p>
<p style="text-align:center;"><strong>'tha fuk u lookin at?</strong></p>
<figure class="image">
    <picture>
       <img src="catanddog.webp" style="display: block; margin: 0 auto;" alt="cat on dogs head" width="500">
    </picture>
    </picture>
</figure>
<p style="text-align:center;">…nothing to c here stranger, move along.</p>
<p style="text-align:center;"><strong>Internet Rando #1 !!!</strong></p>
<p style="text-align:center;">The original. Not associated with other randos out there.</p>
<a href="https://nogithub.codeberg.page"><img src="https://nogithub.codeberg.page/badge.svg" alt="Please don't upload to GitHub"></a>